.link {
    color:#0000CD
}

.Container{
    display: flex;
    justify-content:center;
    margin-right: 110px;
}

.ContentName {
    display: flex;
    margin-bottom: 15px;
}

.Conteudo {
    color: #FFE81F;
    margin-bottom: 70px;
    margin-left: 80px; 
}

button {
    padding: 8px;
    border-radius: 20px;
    width: 500px;
}

.ReadContent{
    text-decoration:none;
    list-style-type: none;
    color:#000000
}


button:hover {
    background-color:#001867;
     box-shadow:
                1px 1px #000000,
                2px 2px #000000,
                3px 3px #000000;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    transition:0.7s;
}

    