 

body{
  background-image: url(./img/SwApiDashboard.jpeg);
}

.container{

  display: flex;
  flex-direction: column;

}

h1 {  
  display: flex;
  justify-content: center;
  font-size: 100px;
  color:darkkhaki
}

.box {
  display: flex;
  justify-content:center;
}

ul{
  display: flex;
  justify-content:center;
  text-decoration:none
}
li{
  font-size:4em;
  margin: 70px;
  text-decoration:none;
  list-style-type: none;
  color:black;
}

.detail-wrapper{
  font-size: 30px;
  display: flex;
}



 
 